body {
    font-family: 'Nunito', sans-serif;
    color: black;
  }
  
  thead th {
    font-weight: 400;
    background: #4a076f;
    opacity: 1;
    color: #FFF;
    position: sticky;
    top: 0;
    padding: 10px;
    z-Index:1
  }

  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  tr:nth-child(even) {
    background: #e8eeef;
  }
  
  th, td {
    text-align: center;
    padding: 5px;
    font-weight: 500;
  }
  
  tfoot tr {
    background: none;
  }
  
  tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
  }