.THIS .slds-border_top {
    border-radius: 2%;
}
.THIS .outer-div {
    position: relative;
}
 
.THIS .spinner {
    position: absolute;
}

.textInput {
    color: black;
    font-weight: bold;
}